@model DashboardViewModel

@using MeteorStrike.Services.Interfaces;
@using MeteorStrike.Models.Enums;
@using Microsoft.AspNetCore.Identity;

@inject IBTFileService _BTFileService
@inject IBTTicketService _btTicketService
@inject IBTCompanyService _btCompany
@inject SignInManager<BTUser> SignInManager
@inject UserManager<BTUser> _UserManager 

<div class="card">
                 <div class="card-body">
                     <div class="card-header">
                     <h4 class="card-title">Tickets</h4> 
                     </div>
                 </div>
             <div class="card-body">
          <table class="table mb-0 no-wrap recent-table table-hover">
            @if (Model.Tickets.Count() != 0)
            {
                    <thead>
                      <tr class="fs-4 font-weight-medium">
                        <th>Created</th>
                        <th>Priority</th>
                        <th style="width: 15%">Ticket Title</th>                
                        <th style="width: 45%">Project Title</th>
                        <th>Submitted By</th>
                      </tr>
                    </thead>
                     <tbody>

                    @foreach (var item in Model.Tickets.Where(t => t.Archived == true || t.ArchivedByProject == true))
                    {
                        int priorityId = item.TicketPriorityId;

                          <tr> 
                                             <td>@item.Created.ToString("MMM dd, yyyy")</td>
                            @switch (priorityId)
                            {
                                default:
                                                                     <td data-order="@item.TicketPriorityId"><span class="badge bg-info text-uppercase">@item.TicketPriority.Name</span></td>
                                    break;
                                case 2:
                                                                     <td data-order="@item.TicketPriorityId"><span class="badge bg-success text-uppercase">@item.TicketPriority.Name</span></td>
                                    break;
                                case 3:
                                                                     <td data-order="@item.TicketPriorityId"><span class="badge bg-warning text-uppercase">@item.TicketPriority.Name</span></td>
                                    break;
                                case 4:
                                                                     <td data-order="@item.TicketPriorityId"><span class="badge bg-danger text-uppercase">@item.TicketPriority.Name</span></td>
                                    break;
                            }
                               <td><a asp-controller="Tickets" asp-action="Details" asp-route-id="@item.Id">@item.Title</a></td>
                               <td>@Html.DisplayFor(modelItem => item.Project.Name)</td>
                               <td>@Html.DisplayFor(modelItem => item.SubmitterUser.FullName)</td>
                           </tr>
                    }
                          </tbody>
            }
            else
            {
                                <div class="col-12 justify-content-center">
                                    <div class="card mt-2 justify-content-center text-center">
                                     <p>You currently do not have any projects assigned to you.</p>
                                  </div>
                               </div>
            }
          </table>

                 </div>
             </div>
