@model MeteorStrike.Models.Ticket

@using MeteorStrike.Services.Interfaces
@using MeteorStrike.Services
@using MeteorStrike.Models.Enums

@inject IBTFileService _BTFileService

@{
    ViewData["Title"] = "Details";
} 


<!-- Container fluid  -->
            <!-- -------------------------------------------------------------- -->
            <div class="container-fluid page-content">
                <!-- -------------------------------------------------------------- -->
                <!-- Start Page Content -->
                <!-- -------------------------------------------------------------- -->
                <!-- basic table -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">Ticket Details</h4>
                            </div>
                            <div class="card-body bg-extra-light">
                                <div class="row text-center">
                                    <div class="col-6 my-2 text-start">
                                        <span class="badge bg-warning">@Html.DisplayFor(model => model.TicketStatus.Name)</span>
                                    </div>
                                    <div class="col-6 my-2">
                                        @Html.DisplayFor(model => model.Created)
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="pt-3">Updated</h5>
                                <span>@Html.DisplayFor(model => model.Updated)</span>
                                <h5 class="mt-4">@Html.DisplayNameFor(model => model.Project)</h5>
                                <span>@Html.DisplayFor(model => model.Project.Description)</span>
                                <br/>
                                <a asp-action="Edit" asp-route-id="@Model.Id" type="button" class="mt-3 btn waves-effect waves-light btn-success">Update</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="card">
                           <div class="card-body">
                                <h4 class="card-title">@Html.DisplayFor(model => model.Title)</h4> 
                                @Html.DisplayFor(model => model.Description)
                                <div class="row">
                                <div class="col-6"> <h5 class="pt-3">Submitted By</h5>
                                <span>@Html.DisplayFor(model => model.SubmitterUser.FullName)</span>
                                </div>
                                    <div class="col-6">
                                <div class="col-6"> <h5 class="pt-3">Developer</h5>
                                <span>@Html.DisplayFor(model => model.DeveloperUser.FullName)</span>
                                    </div>
                                </div>
							 </div>
							 </div>
								 <div class="card-body">

                                <!-- Start Comment Respond  -->
								<div class="row">
                                <div class="comment-respond">
                                  <h4 class="title">Post a comment</h4>
                                   <form asp-action="AddTicketComment" asp-controller="Tickets" method="post">
                                     @*Get Ticket ID*@
                                      <input type="hidden" asp-for="Id" name="TicketId"/>
                                      <div class="col-12">
                                         <div class="form-group">
                                             <textarea id="message" name="Comment"></textarea>
                                         </div>
                                      </div>
                                      <div class="col-lg-12">
                                         <div class="form-submit">
											 <input type="submit" class="mt-3 btn waves-effect waves-light btn-success" value="Post Comment">
                                         </div>
                                      </div>
                                   </form>
                                </div>
								</div>
                                <!-- End Comment Respond  -->

                                </div>
                                </div>
                                </div>
                                <!-- -------------------------------------------------------------- -->
                                <!-- End Container fluid  -->
                                <!-- -------------------------------------------------------------- -->

<div>
	<div classxfont-weighteighteightgetainer-fluid">
		<div class="row gy-2">
			<div class="col-md-12 col">
				<div class="row col-cols-2 mt-5 bg-secondary">
					<div class="card col m-1 p-2">
						<div class="card-body">
								@*Title of Ticket*@
							<h5>[Title]</h5>
								@*Description of Ticket*@
							<p>[Description]</p>
							<div class="progress-container progress-info m-b-25">
									@*Project Name and information*@
								<span class="progress-badge" style="font-size:small">Project: [Project Name]</span>
								<div class="progress">
										@*Progress bar logic*@
										@*Variable from razor logic*@
									@*<div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: [Percent]%;">*@
											@*Variable from razor logic*@
										<span class="progress-value">[Percent]%</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card col m-1 p-2">
						<div class="card-body">
							<ul class="list-unstyled">				  @*Ticket date*@
								<li><strong>Date Entered:</strong> <span class="">  [Ticket created date]</</span></li>
									@*Project end date*@
								<li><strong>Deadline:</strong> <span class="">  [Project End date]</</span></li>
									@*Ticket type*@
								<li><strong>Type:</strong> <span class="">  [Ticket Type]</span></li>
									@*Ticket priority*@
								<li><strong>Priority:</strong> <span class="">  [Ticket priority]</span></li>
									@*Ticket status*@
								<li><strong>Status:</strong> <span class="">  [Ticket status]</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col col-cols-2 mt-5 ">
				<div class="col">
					<div class="bg-secondary">
						<div class="card m-1 p-2">
							<div class="card-header">
								<h2>Comments</h2>
							</div>
							<div class="card-body" style="overflow-y:auto;height:600px;">

									@*Form and Logic for authorized users to add comments*@
								<hr />
									<h6>Comments</h6>
									<ul class="right_chat list-unstyled mb-0">
										@*Loop to show comments made for the Ticket*@
									</ul>
							</div>
							<div class="card-footer">
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="bg-secondary">
						<div class="card m-1 p-2">
							<div class="card-header">
								<h2>Attachments</h2>
							</div>
							<div class="card-body" style="overflow-y:auto;height:300px;">

									@* Refer to the Ticket Attachments document for this section *@

									@* Ticket attachments part 1 here *@


									@* Ticket attachments part 2 here *@

							</div>
							<div class="card-footer">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col mt-5 ">
				<div class="bg-dark">
					<div class="card m-1 p-2">
						<div class="card-header">
							<h2>History</h2>
							<hr />
						</div>
						<div class="card-body" style="overflow-y:auto;height:1000px;background-color:antiquewhite">
								@*Loop to show the history entries for the Ticket*@
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


