@model DashboardViewModel

@using MeteorStrike.Services.Interfaces;
@using MeteorStrike.Models.Enums;
@using Microsoft.AspNetCore.Identity;

@inject IBTFileService _BTFileService
@inject IBTTicketService _btTicketService
@inject IBTCompanyService _btCompany
@inject SignInManager<BTUser> SignInManager
@inject UserManager<BTUser> _UserManager

@{
    ViewData["Title"] = "Home Page";

    BTUser? btUser = await _UserManager.GetUserAsync(User);

    string? userId = _UserManager.GetUserId(User);

    int? companyId = btUser.CompanyId;
}

@{
    IEnumerable<Ticket> recentTickets = await _btTicketService.GetRecentTicketsAsync(companyId);

    int numberOfRecentTickets = recentTickets.Where(t => (DateTime.Now - t.Created).TotalDays <= 3).Count();

    IEnumerable<Ticket> tenRecentTickets = recentTickets.Take(5);

}

 <!-- ============================================================== -->
 <!-- Bread crumb and right sidebar toggle -->
 <!-- ============================================================== -->
 @*<div class="page-breadcrumb border-bottom">
     <div class="row">
         <div class="col-lg-3 col-md-4 col-xs-12 justify-content-start d-flex align-items-center">
             <h5 class="font-weight-medium text-uppercase mb-0">Dashboard</h5>
         </div>
         <div class="col-lg-9 col-md-8 col-xs-12 d-flex justify-content-start justify-content-md-end align-self-center">
             <nav aria-label="breadcrumb" class="mt-2">
                 <ol class="breadcrumb mb-0 p-0">
                     <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                     <li class="breadcrumb-item active" aria-current="page"><b><a asp-controller="Home" asp-action="Index">Dashboard</a></b></li>
                 </ol>
             </nav>
             <a asp-controller="Tickets" asp-action="Create" class="btn btn-danger text-white ms-3 d-none d-md-block">Create Ticket</a>
         </div>
     </div>
 </div>*@
 <!-- ============================================================== -->
 <!-- End Bread crumb and right sidebar toggle -->
 <!-- ============================================================== -->

<!-- ============================================================== -->
<!-- User & Tickets  -->
<!-- ============================================================== -->

<div class="row mb-4">
      <img class="headerImage" src="~/img/SpaceSection.png"/>
  </div>

  <div class="row">
   <div class="col-lg-4">
     <div class="card">
       <div class="card-body">
         <div class="d-flex flex-row">
           <div class="">
            <img src="@_BTFileService.ConvertByteArrayToFile(btUser!.ImageFileData!,btUser!.ImageFileType!,(int)DefaultImage.BTUserImage)" alt="user" class="userIcon" width="100">
           </div>
           <div class="ps-3">
                        @if (User.Identity.IsAuthenticated)
                        {
                     <h6 class="text-muted">@btUser!.Company.Name</h6>
                     <h3 class="font-weight-medium">@btUser!.FullName</h3>
                     <h6 class="text-muted">@btUser!.Email</h6>
                        }
           </div>
         </div>
       </div>
     </div>    
        <div class="card">
            <div class="card-body">
                <div class="row">
                <div class="col-8">
                <h5 class="card-title"><a class="sidebar-link" asp-controller="Tickets" asp-action="MyTickets"><i class="icon-people text-info"></i> Your Tickets</a></h5></div>
                <div class="col-4 text-end">
                <h3 class="card-title">@Model.Tickets.Where(t=>t.DeveloperUserId == userId).Count().ToString()</h3></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                <div class="col-8">
                <h5 class="card-title"><a class="sidebar-link" asp-controller="Projects" asp-action="Index"><i class="icon-folder text-info"></i> Total Projects</a></h5></div>
                <div class="col-4 text-end">
                <h3 class="card-title">@Model.Company.Projects.Where(p => p.Archived == false).Count().ToString()</h3></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                <div class="col-8">
                <h5 class="card-title"><a class="sidebar-link" asp-controller="Tickets" asp-action="Index"><i class="mdi mdi-tag-multiple text-info"></i> Total Tickets</a></h5></div>
                <div class="col-4 text-end">
                <h3 class="card-title">@Model.Tickets.Count().ToString()</h3></div>
                </div>
            </div>
        </div>
    </div>
   <div class="col-lg-8">
   <div class="card" style="max-height: 630px;">
      <div class="d-flex align-items-center p-3">
        <div class="col-md-9 col-lg-10"><h5 class="card-title mb-0">Recent Tickets</h5></div>
        <div class="col-md-3 col-lg-2 text-end"><a asp-controller="Tickets" asp-action="Create" class="btn btn-danger text-white ms-3 d-none d-md-block">Create Ticket</a></div>
      </div>
      <div class="p-3 bg-light">
        <div class="d-flex align-items-center">
          <div>
            <h2 class="fw-normal"><a asp-controller="Home" asp-action="MyCompany">@Model.Company.Name</a></h2>
            </div>
          <div class="ms-auto">
            <h1 class="text-info mb-0 fw-light">@numberOfRecentTickets New Tickets</h1>
          </div>
        </div>
      </div>
      <div class="dashCard p-3" style="overflow-y:auto; height: 345px;">
        <div class="table-responsive">
          <table class="table mb-0 no-wrap recent-table table-hover">
            <thead>
              <tr class="fs-4 font-weight-medium">
                  <th>Created</th>
                <th>Priority</th>
                <th style="width: 15%">Ticket Title</th>                
                <th style="width: 45%">Project Title</th>
                <th>Submitted By</th>
              </tr>
            </thead>
             <tbody>
                 @foreach (var item in tenRecentTickets)
                 {
                     int priorityId = item.TicketPriorityId;

                   <tr> 
                     <td>@item.Created.ToString("MMM dd, yyyy")</td>
                               @switch (priorityId)
                               {
                                   default: 
                                   <td data-order="@item.TicketPriorityId"><span class="badge bg-info text-uppercase">@item.TicketPriority.Name</span></td>
                                       break;
                                   case 2: 
                                   <td data-order="@item.TicketPriorityId"><span class="badge bg-success text-uppercase">@item.TicketPriority.Name</span></td>
                                       break;
                                   case 3: 
                                   <td data-order="@item.TicketPriorityId"><span class="badge bg-warning text-uppercase">@item.TicketPriority.Name</span></td>
                                       break;
                                   case 4: 
                                   <td data-order="@item.TicketPriorityId"><span class="badge bg-danger text-uppercase">@item.TicketPriority.Name</span></td>
                                       break;
                               }
                    <td><a asp-controller="Tickets" asp-action="Details" asp-route-id="@item.Id">@item.Title</a></td>
                    <td>@Html.DisplayFor(modelItem => item.Project.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.SubmitterUser.FullName)</td>
                   </tr> 
                 }
                 </tbody>
          </table>
        </div>
      </div>
      </div>            
     </div>
  </div>
@*    <div class="row mb-2">
      <img class="footerImage" src="~/img/SpaceSectionLower.png"/>
  </div>*@
