@model IEnumerable<ManageUserRolesViewModel>

@using MeteorStrike.Services.Interfaces;
@using MeteorStrike.Models.Enums;
@using Microsoft.AspNetCore.Identity;

@inject IBTFileService _BTFileService;

 <!-- ============================================================== -->
 <!-- Bread crumb and right sidebar toggle -->
 <!-- ============================================================== -->
 <div class="page-breadcrumb border-bottom">
     <div class="row">
         <div class="col-lg-3 col-md-4 col-xs-12 justify-content-start d-flex align-items-center">
             <h5 class="font-weight-medium text-uppercase mb-0">Manage Member Roles</h5>
         </div>
         <div class="col-lg-9 col-md-8 col-xs-12 d-flex justify-content-start justify-content-md-end align-self-center">
             <nav aria-label="breadcrumb" class="mt-2">
                 <ol class="breadcrumb mb-0 p-0">
                     <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                     <li class="breadcrumb-item active" aria-current="page"><a asp-controller="Home" asp-action="AdminPage">Admin Dashboard</a></li>
                     <li class="breadcrumb-item active" aria-current="page"><b><a asp-controller="Companies" asp-action="ManageUserRoles">Manage Roles</a></b></li>
                 </ol>
             </nav>
         </div>
     </div>
 </div>
 <!-- ============================================================== -->
 <!-- End Bread crumb and right sidebar toggle -->
 <!-- ============================================================== -->


<div class="row">
    <h2 class="m-t-0 h3"><b>Manage Member Roles </b></h2>
    <hr />
    <div class="row justify-content-center">
      @foreach (var viewModel in Model)
      {
        <div class="card col-4 m-3">
                    <div class="card-body">
                        <div class="row">
                         <div class="col-4">
                         <img src="@_BTFileService.ConvertByteArrayToFile(@viewModel.BTUser.ImageFileData!,@viewModel.BTUser.ImageFileType!,(int)DefaultImage.BTUserImage)" alt="user" class="userIcon" width="100">
                         </div>
                         <div class="col-8">
                         <h3 class="font-weight-medium">@viewModel.BTUser.FullName</h3>
                         <h6 class="text-muted">@viewModel.BTUser.Email</h6>
                         <p class="text-muted font-13">
                          This form displays the current roles assigned to the user: <strong class="text-info">@viewModel.BTUser!.FullName</strong>.
                         </p>
                         </div>
                         <div class="col-12 text-muted font-13">
                                 Use the dropdown to select the roles this user should be assigned.
                              Once roles are selected, click "Assign Roles" to submit the form.
                         </div>
                         </div>
                        <hr />
                        <form asp-action="ManageUserRoles" asp-controller="Companies" method=post>
                            <input type="hidden" asp-for="@viewModel.BTUser.Id" />
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="@viewModel.Roles" class="custom-label"> Roles for @viewModel.BTUser.FullName </label>
                                        <select asp-for="@viewModel.SelectedRoles" class="form-control" asp-items="@viewModel.Roles">
                                        </select>
                                        <hr />
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Assign Role" class="btn btn-info" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
      }
   </div>
</div>