@model MeteorStrike.Models.Project

@using MeteorStrike.Services.Interfaces
@using MeteorStrike.Services
@using MeteorStrike.Models.Enums

@inject IBTFileService _BTFileService
@inject IBTProjectService _BTProjectService

@{
    ViewData["Title"] = "Details";
} 

 <!-- ============================================================== -->
 <!-- Bread crumb and right sidebar toggle -->
 <!-- ============================================================== -->
 <div class="page-breadcrumb border-bottom">
     <div class="row">
         <div class="col-lg-3 col-md-4 col-xs-12 justify-content-start d-flex align-items-center">
             <h5 class="font-weight-medium text-uppercase mb-0">Project: @Model.Name</h5>
         </div>
         <div class="col-lg-9 col-md-8 col-xs-12 d-flex justify-content-start justify-content-md-end align-self-center">
             <nav aria-label="breadcrumb" class="mt-2">
                 <ol class="breadcrumb mb-0 p-0">
                     <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                     <li class="breadcrumb-item active" aria-current="page"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                     <li class="breadcrumb-item active" aria-current="page"><a asp-controller="Projects" asp-action="Index">Projects</a></li>
                     <li class="breadcrumb-item active" aria-current="page"><b><a asp-action="Details" asp-route-id="@Model.Id">@Model.Name</a></b></li>
                 </ol>
             </nav>
             <a asp-controller="Tickets" asp-action="Create" class="btn btn-danger text-white ms-3 d-none d-md-block">Create Ticket</a>
         </div>
     </div>
 </div>
 <!-- ============================================================== -->
 <!-- End Bread crumb and right sidebar toggle -->
 <!-- ============================================================== -->

 <!-- -------------------------------------------------------------- -->
 <!-- Start Page Content -->
 <!-- -------------------------------------------------------------- -->
     <div class="row">
         <div class="col-lg-4">
             <div class="card">
                 <div class="card-body">
                     <div class="card-header">
                     <h4 class="card-title mb-0">Project Details</h4></div>
                 </div>
                 <img class="detailsImage" src="@_BTFileService.ConvertByteArrayToFile(Model.ImageFileData!, Model.ImageFileType!,(int)DefaultImage.ProjectImage)" alt="Post Images" />
                 <div class="card-body bg-extra-light">
                     <div class="row text-center">
                         <div class="col-4 my-2 text-start">
                             <span class="badge bg-warning">@Html.DisplayFor(model => model.ProjectPriority.Name)</span>
                         </div>
                         <div class="col-8 my-2">
                            @Model.StartDate.ToString("MMM dd, yyyy") -  @Model.EndDate.ToString("MMM dd, yyyy")
                         </div>

                        <a asp-action="Edit" asp-route-id="@Model.Id" type="button" class="mt-2 btn waves-effect waves-light btn-success">Update</a>

                        @if (User.IsInRole("Admin"))
                        {
                             <a asp-action="AssignPM" asp-route-id="@Model.Id" type="button" class="mt-2 btn waves-effect waves-light btn-info">Assign Project Manager</a>
                        }

                        @if (User.IsInRole("ProjectManager") || User.IsInRole("Admin"))
                        {
                             <a asp-action="AssignProjectMembers" asp-route-id="@Model.Id" type="button" class="mt-2 btn waves-effect waves-light btn-info">Assign Members</a>
                        }
                     </div>
                 </div>
             </div>
         </div>

         <div class="col-lg-8">
             <div class="card">
                 <div class="card-body">
                     <div class="card-header">
                     <h4 class="card-title">@Html.DisplayFor(model => model.Name)</h4> 
                     </div>
                    <p class="mt-2 mb-0">@Html.Raw(Model.Description))</p>
                 </div>
             <div class="card-body">
                     <div class="row">
                         <div class="col-md-6 col-12">
                           <h5 class="mt-1">Project Manager</h5>
                           <span>@((await _BTProjectService.GetProjectManagerAsync(Model.Id))?.FullName ?? "Unassigned")</span>
                           <h5 class="pt-3">Members</h5>
                           <ul>@foreach (BTUser member in Model.Members)
                                {
                                    <li>
                                        @member.FullName
                                    </li>
                                }
                           </ul>
                           </div>

                        <div class="col-md-6 col-12">
                           <h5 class="mt-1">Company</h5>
                           <span>@Html.DisplayFor(model => model.Company.Name)</span>   
                           <h5 class="pt-3">Created</h5>
                           <span>@Model.Created.ToString("MMM dd, yyyy")</span>
                        </div>
                     </div>
                 </div>
             </div>
             <div class="card">
                 <div class="card-body">
                     <div class="card-header">
                     <h4 class="card-title">Active Tickets</h4> 
</div>
             <div class="card-body" style="overflow-y:auto; height: 300px;">
                    <table class="table mb-0 mt-0 no-wrap recent-table table-hover">
                    @if (Model.Tickets.Count() != 0)
                    {
                        <thead>
                              <tr class="fs-4 font-weight-medium">
                                <th>Created</th>
                                <th style="width: 25%">Ticket Title</th>                
                                <th style="width: 30%">Description</th>
                                <th>Submitted By</th>
                              </tr>
                            </thead>
                             <tbody>

                            @foreach (var item in Model.Tickets.Where(t => t.Archived == false || t.ArchivedByProject == false))
                            {
                                int priorityId = item.TicketPriorityId;

                                   <tr> 
                                     <td>@item.Created.ToString("MMM dd, yyyy")</td>
                                     <td><a asp-controller="Tickets" asp-action="Details" asp-route-id="@item.Id">@item.Title</a></td>
                                     <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                     <td>@Html.DisplayFor(modelItem => item.SubmitterUser.FullName)</td>
                                     </tr>
                            }
                                  </tbody>
                    }
                    else
                    {
                    <div class="col-12 justify-content-center">
                        <div class="card mt-2 justify-content-center text-center">
                         <p>You currently do not have any projects assigned to you.</p>
                      </div>
                    </div>
                    }
          </table>

                 </div>
             </div>

         </div>
     </div>
