@model IEnumerable<MeteorStrike.Models.Project>

@using MeteorStrike.Services.Interfaces
@using MeteorStrike.Services
@using MeteorStrike.Models.Enums

@inject IBTFileService _BTFileService

@{
    ViewData["Title"] = "Project Index";
}          
 

<!-- -------------------------------------------------------------- -->
            <!-- Container fluid  -->
            <!-- -------------------------------------------------------------- -->
            <div class="container-fluid page-content">
                <!-- -------------------------------------------------------------- -->
                <!-- Start Page Content -->
                <!-- -------------------------------------------------------------- -->
                <!-- basic table -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Projects</h4>
                                <div class="table-fixed mt-4">
                                    <table id="zero_config" class="table table-bordered fs-3">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Created</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Company</th>
                                                <th>Project Priority</th>
                                                <th>Image</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                             @foreach (var item in Model) {
                                            <tr>
                                                <td><a asp-action="Details" asp-route-id="@item.Id" class="font-weight-medium link" >@Html.DisplayFor(modelItem => item.Name)</a></td>
                                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Created)</td>
                                                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                                                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Company.Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.ProjectPriority.Name)</td>
                                                    <td><img class="projectTableImage" src="@_BTFileService.ConvertByteArrayToFile(item.ImageFileData!, item.ImageFileType!,(int)DefaultImage.ProjectImage)" alt="Post Images" /></td>
                                                <td>
                                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                                </td>
                                            </tr> }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Created</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Company</th>
                                                <th>Project Priority</th>
                                                <th>Image</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- -------------------------------------------------------------- -->
            <!-- End Container fluid  -->
            <!-- -------------------------------------------------------------- -->
