@model IEnumerable<MeteorStrike.Models.Project>

@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@using MeteorStrike.Services.Interfaces
@using MeteorStrike.Services
@using MeteorStrike.Models.Enums

@inject IBTFileService _BTFileService

@{
    ViewData["Title"] = "Project Index";
}           

 <!-- -------------------------------------------------------------- -->
 <!-- Container fluid  -->
 <!-- -------------------------------------------------------------- -->
 <div class="container-fluid page-content">
     <!-- -------------------------------------------------------------- -->
     <!-- Start Page Content -->
     <!-- -------------------------------------------------------------- -->
     <!-- basic table -->
     <div class="container-fluid row">
         <div class="col-12">
             <div class="card">
                 <div class="card-body">
                     <h4 class="card-title">Projects</h4>
                     <div class="row">
                         <div class="card-group">
                             @foreach (var item in Model) {
                             <div class="card roundedCorners h-100 border m-2 rounded- " style="width: 25rem;">
                                  <img class="card-img-top" src="@_BTFileService.ConvertByteArrayToFile(item.ImageFileData!, item.ImageFileType!,(int)DefaultImage.ProjectImage)" alt="Card image cap">
                                  <div class="card-body h-100">
                                    <a asp-action="Details" asp-route-id="@item.Id" class="card-title"> @Html.DisplayFor(modelItem => item.Name)</a>
                                        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                                  </div>
                                  <ul class="list-group list-group-flush">
                                        <li class="list-group-item">@Html.DisplayFor(modelItem => item.ProjectPriority.Name)</li>
                                        <li class="list-group-item">@item.Created.ToString("MMM dd, yyyy")</li>
                                        <li class="list-group-item">@item.StartDate.ToString("MMM dd, yyyy") - @item.EndDate.ToString("MMM dd, yyyy")</li>
                                  </ul>
                                  <div class="card-footer">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="mdi mdi-pencil text-success"></a>
                                        @if (User.IsInRole("Admin"))
                                        {
                                        <a asp-action="AssignPM" asp-route-id="@item.Id" class="mdi mdi-account-plus text-warning"></a>
                                        }
                                        <a asp-action="Details" asp-route-id="@item.Id" class="mdi mdi-note-text"></a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="mdi mdi-delete text-danger"></a>
                                  </div>
                                </div>
                                }
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <!-- -------------------------------------------------------------- -->
 <!-- End Container fluid  -->
 <!-- -------------------------------------------------------------- -->
